[project]
	description = pr_testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ayrat KHAYRETDINOV (archyufa)
[access "refs/for/refs/*"]
	read = group user/Ayrat KHAYRETDINOV (archyufa)
	push = group user/Ayrat KHAYRETDINOV (archyufa)
	label-Code-Review = -2..+2 group user/Ayrat KHAYRETDINOV (archyufa)
	label-Verified = -1..+1 group user/Ayrat KHAYRETDINOV (archyufa)
	rebase = group user/Ayrat KHAYRETDINOV (archyufa)
	removeReviewer = group user/Ayrat KHAYRETDINOV (archyufa)
	submit = group user/Ayrat KHAYRETDINOV (archyufa)
[access "refs/heads/*"]
	read = group user/Ayrat KHAYRETDINOV (archyufa)
	create = group user/Ayrat KHAYRETDINOV (archyufa)
	push = +force group user/Ayrat KHAYRETDINOV (archyufa)
	pushMerge = group user/Ayrat KHAYRETDINOV (archyufa)
[access "refs/tags/*"]
	push = group user/Ayrat KHAYRETDINOV (archyufa)
	push = +force group user/Ayrat KHAYRETDINOV (archyufa)
